@using TP3.Models
@model Tuple<List<Jeu>, List<Jeu>>


@{

    ViewData["Title"] = "Favoris";
}

<h1 class="text-dark texteListe">Mes favoris</h1>

@if (Model.Item1.Count == 0)
{
    <h1 class="text-dark texteListe">Vous n'avez aucun favoris</h1>

}
else
{
    @for (int i = 0; i < Model.Item1.Count; i++)
    {
        int prochain = i + 1; 

        int id1 = 0;
        int id2 = 0;

        @for (int y = 0; y < Model.Item2.Count; y++)
        {
            if (Model.Item2[y].NomDuJeu.Equals(Model.Item1[i].NomDuJeu))
            {
                id1 = y;
            }
        }

        string lien = (id1 +1) + ".jpg";

        <div class="row">
            <div class="column">
                    <a class="nav-link text-dark liste" asp-area="" asp-controller="Home" asp-action="FicheDeJeuFavori" asp-route-id="@id1">
                        <img src="~/images/imagesCarousel/@lien" alt="@Model.Item1[@i].NomDuJeu" style="width:100%">
                        @Model.Item1[i].NomDuJeu
                    </a>
            </div>
            @if (i + 1 < Model.Item1.Count)
            {
                @for (int z = 0; z < Model.Item2.Count; z++)
                {
                    if (Model.Item2[z].NomDuJeu.Equals(Model.Item1[prochain].NomDuJeu))
                    {
                        id2 = z;
                    }
                }

                string lien2 = (id2 + 1) + ".jpg";

                <div class="column">
                <a class="nav-link text-dark liste" asp-area="" asp-controller="Home" asp-action="FicheDeJeuFavori" asp-route-id="@id2">
                        <img src="~/images/imagesCarousel/@lien2" alt="@Model.Item1[@prochain].NomDuJeu" style="width:100%">
                        @Model.Item1[@prochain].NomDuJeu
                </a>
                </div>
            }  
        </div>

        i++;
    }
}
