@using TP3.Models
@model List<Jeu>

@{
    ViewData["Title"] = "Liste de jeux";
}

<h1 class="text-dark texteListe">Nos jeux</h1>

@for (int i = 0; i < Model.Count; i++)
{
    int prochain = i + 1; 

    string lien = (i +1) + ".jpg";
    string lien2 = (prochain + 1) + ".jpg";

    <div class="row">
        <div class="column">
                <a class="nav-link text-dark liste" asp-area="" asp-controller="Home" asp-action="FicheDeJeu" asp-route-id="@i">
                    <img src="~/images/imagesCarousel/@lien" alt="@Model[@i].NomDuJeu" style="width:100%">
                    @Model[i].NomDuJeu
                </a>
        </div>
        @if (i + 1 < Model.Count)
        {
            <div class="column">
            <a class="nav-link text-dark liste" asp-area="" asp-controller="Home" asp-action="FicheDeJeu" asp-route-id="@prochain">
                    <img src="~/images/imagesCarousel/@lien2" alt="@Model[@prochain].NomDuJeu" style="width:100%">
                    @Model[@prochain].NomDuJeu
            </a>
            </div>
        }  
    </div>

    i++;
}



